<!DOCTYPE html>
<html>
<head>
	
  <title>FRONT ROW SHOP - </title>
  <%= stylesheet_link_tag    "application", media: "all",
    "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>


<body class="<%= controller.controller_name %>">

	<div class="up-menu">
			<div class="search">
			<form action="" method="POST">
				<input type="search" value="Search">
			</form>
		</div>
</div>
<div class="content">
	<a href="../internet-store/structure/clothing/clothing-dress.html">DRESS</a>
	<a href="../internet-store/structure/clothing/clothing-coat.html">COAT</a>
	<a href="../internet-store/structure/clothing/clothing-skirt.html">SKIRT</a>
</div>
<div class="entern">
	<label>Welcome!</label>
	<a href="../internet-store/structure/auth.html">Join</a>|
	<a href="../internet-store/structure/entern.html">Sign In</a>|
	<a href="../internet-store/structure/bag.html">My Bag ()</a>
</div>	

  <div id="banner">
   <!--> <%= image_tag("logo.png") %>
    <%= @page_title || "Front Row Shop" %>-->
  </div>
  <div id="cart">

    <!--> <% if @cart %>
         <%= hidden_div_if(@cart.line_items.empty?, id: 'cart') do %>
           <%= render @cart %>
         <% end %>
       <% end %>-->
  </div>
  
<!--><%= render Order.find(session[:order_id]) if session[:order_id] %>-->
	
<nav class="menu">
	<ul>
		<li><a href="./">HOME</a></li>
		<li><a href="../controllers/new.php">NEW IN</a></li>
		<li><a href="../controllers/clothing.php">CLOTHING</a></li>
		<li><a href="../controllers/accessories.html">ACCESSORIES</a></li>
		<li><a href="../controllers/shoes.html">SHOES</a></li>
		<li><a href="../controllers/collections.html">COLLECTION</a></li>
		<li><a href="../controllers/beauty-show.html">BEAUTY SHOW</a></li>
	</ul>
</nav>

<div id="main">
<%= yield %>
</div>


</html>


